<h1>Contact</h1>
<p>I encourage anyone to contact me with feedback about the game, especially elements of the game that you like/don't like.
<br>Email me at <a href="mailto:ryukaider@gmail.com">ryukaider@gmail.com</a></p>
