<h1>Help</h1>
<p>This game is so intuitive that help pages are not necessary.  But if you do find something that you are confused about in the game, go ahead and email me at ryukaider@gmail.com and I'll either make a help page about it or make an FAQ page.</p>
