<div class="center hero-unit">
	<%= image_tag("scottville.jpg", alt: "Scottville Home", size: "324x180") %>
	<br><br>
	<h1>Welcome to Scottville</h1>
	<br>
	<h2>BEHOLD</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
