<div class="center hero-unit">
	<%= image_tag("scottville.jpg", alt: "Scottville Home", size: "324x180") %>
	<br><br>
	<h1>Welcome to Scottville</h1>
	<br>
	<h2>"Because sometimes life is like a game."</h2>
  
  <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Resume Game", game_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
