<h1>Patch Notes</h1>

<p>
<h2>Version 0.0.3 - 06/15/12</h2>
<ul>
  <li>Added a main landing page for the game when logged in.</li>
  <li>Updated the home page to have a "Resume Game" button instead of a "Sign up" button when logged in.</li>
  <li>Added a buildings page.</li>
  <li>Added buildings to the database.</li>
  <li>You can now build residences from the buildings page (however they are free because the game doesn't have resources yet).</li>
</ul>

<p>
<h2>Version 0.0.2 - 06/10/12</h2>
<ul>
  <li>Users can sign up</li>
  <li>Users can sign in and out</li>
  <li>Users can edit their info</li>
  <li>Users can delete themselves</li>
  <li>There is a page that lists all users</li>
</ul>
<p>

<h2>Version 0.0.1 - 05/25/12</h2>
This is the first time that the site is viewable on the interwebs.  At this point it only contains static pages - home, about, contact, help, and patch notes pages.
</p>
