<h1>Patch Notes</h1>
<p>
<h2>Version 0.0.1 - 05/25/12</h2>
This is the first time that the site is viewable on the interwebs.  At this point it only contains static pages - home, about, contact, help, and patch notes pages.
</p>
