<h1>Patch Notes</h1>

<p>
<h2></h2>
<ul>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.7 - 08/xx/12</h2>
<ul>
  <h4>A bunch of small fixes</h4>
  <li>Added a note about javascript/browsers to home page.</li>
  <li>Username can now have upper case letters.</li>
  <li>Redesigned the layout of the create account page and made it look better in general (took infinite hours).</li>
  <li>Using an expired activation link will now redirect you to the page that can resend the email, instead of giving a 404.</li>
  <li>All form fields with errors now consistently have red borders and a red shadow when focused.</li>
  <li>All form pages now retain their URL upon submitting with errors.</li>
  <li>The email field of the login form now automatically removes leading and trailing whitespace before submitting.</il>
  <li>Trying to log in with an invalid password now suggests you to the password reset page.</li>
  <li>Most buttons will now disable after being clicked (any button with a significant action) and display the action being performed.</li>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.6 - 07/22/12</h2>
<ul>
  <li>The activation and password reset emails should now work.  In development, I didn't think that I could actually send emails, so I was testing them through the console.  So I was kind of expecting them not to work in production.  But I went back now and found out that I can send actual emails in development, and they work now!</li>
  <li>Also improved the redirects for some activation situations.</li>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.5 - 07/21/12</h2>
<ul>
  <h4>Many of the changes that I made in this patch are going to go unnoticed and underappeciated since they mostly have to do with errors, but I still put a lot of work into these changes.</h4>
  <br><h3>General</h3><br>
  <li>Added a "Create Account" link to the header when logged out (so the link is available from any page, not just the home page).</li>
  <li>Changed the term "Signup" to "Create Account" where appropriate.  Also changed the term "Sign in" to "Login" where appropriate.</li>
  <li>Increased the width of some buttons to make them easier to click.</li>
  <li>Added some word wrapping for output (in case you want to have an obnoxiously long email address, for example).</li>
  <li>Added autofocus to the first field on form pages.  Submitting a form with errors should autofocus to the first field with an error now as well (which makes my site better than battle.net).</li>
  <li>There is now an error icon for error messages.  Yeah I spent hours working on this so don't you hate on it.  Let me tell you about this adventure I had with the error image.  First I throw some align HTML tags at it, and it just doesn't care about them.  Then I make it a table and it aligns right.  But then I found out that you are supposed to put that kind of stuff in a css file, so I had to figure out how to convert the code to css.  Then I found out that using a table isn't as good as not using a table.  So I rewrote the css to not use a table.  Then I found out that it's better code and better web design to have such an image as a background image.  So I rewrote the css again to make it a background image.  At this point, everything worked if the error message was more than 1 line, but the image got cut off if it was only one line.  Increasing the size of the error box made the image fit and align correctly, and more than one line of text align correctly, but when there was only one line of text, it was a few pixels higher than vertical center.  And that made me REAL ANGRY.  So I searched for solutions and only found ones with bad side effects.  But then right before I gave up, I figured out what to do.  And now the image and text alignment couldn't be any more perfect, while following good code and good web design structure.  You're welcome.</li>
  <li>Improved cookies security.</li>
  <li>Changed "Email" to "Email Address" on forms.</li>
  <br><h3>Login Page Changes</h3><br>
  <li>User's email address input now persists on failed login.</li>
  <li>Improved login error messages.  In particular, if you give an incorrect email, it specifically says the email is bad rather than saying it's a bad email/password combination (which also makes my site better than battle.net).
  <li>User is now redirected to the game after logging in, instead of their profile.</li>
  <li>Added a reset password feature for users who forget their password.  I won't go into details, but it's pretty awesome and you can be sure that it handles any situation well.</li>
  <li>Because I'm such an awesome guy, I'm saving your email between the login and password reset pages so you don't have to keep retyping it if you forgot your password.</li>
  <li>Added a "keep me logged in" checkbox.  Basically if it is unchecked, you will be logged out when you close your browser.  If it is checked, you won't be logged out when you close your browser.</li>
  <br><h3>Create Account Page Changes</h3><br>
  <li>An account must now be activated after being created.  An unactivated account can visit non-game pages while logged in, but trying to visit a game page will redirect you to the activation page.  To activate, all you have to do is click a link in an email that is sent.</li>
  <li>There is now placeholder text in the fields that provides input tips.</li>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.4 - 06/29/12</h2>
<ul>
  <li>I switched the game name to a more reasonable name, "Dawn of Ninjas".</li>
  <li>Improved the home page with some new text.</li>
  <li>I greatly improved the signup form.  You shouldn't actually notice what I did, because it was mostly fixing security issues, adding limitations, improving validations, and handling bad situations better.  But I did put a lot of work into this and I think it will handle any situation well.</li>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.3 - 06/15/12</h2>
<ul>
  <li>Added a main landing page for the game when logged in.</li>
  <li>Updated the home page to have a "Resume Game" button instead of a "Sign up" button when logged in.</li>
  <li>Added a buildings page.</li>
  <li>Added buildings to the database.</li>
  <li>You can now build residences from the buildings page (however they are free because the game doesn't have resources yet).</li>
</ul>
</p>
<br>

<p>
<h2>Version 0.0.2 - 06/10/12</h2>
<ul>
  <li>Users can sign up</li>
  <li>Users can sign in and out</li>
  <li>Users can edit their info</li>
  <li>Users can delete themselves</li>
  <li>There is a page that lists all users</li>
</ul>
<br>

</p>
<h2>Version 0.0.1 - 05/25/12</h2>
This is the first time that the site is viewable on the interwebs.  At this point it only contains static pages - home, about, contact, help, and patch notes pages.
</p>
