<head>
  <%= stylesheet_link_tag "players", media: "all" %>
  <script type="text/javascript" src="/assets/jquery-latest.js"></script> 
  <script type="text/javascript" src="/assets/jquery.tablesorter.js"></script> 
</head>

<h1>All Players</h1>
