<% if flash[:error] %>
  <div class="alert alert-error">
    <div class="error_image">
      <%= flash[:error] %>
    </div>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <i class="icon-ok"></i>
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <i class="icon-exclamation-sign"></i>
    <%= flash[:info] %>
  </div>
<% end %>
