<% unless flash[:error_message].blank? %>
  <div class="alert alert-error">
    <div class="error_image">
      <%= flash[:error_message] %>
    </div>
  </div>
<% end %>

<% unless flash[:raw_error_message].blank? %>
  <div class="alert alert-error">
    <div class="error_image">
      <%= raw flash[:raw_error_message] %>
    </div>
  </div>
<% end %>
