@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background-color: #040404;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container-non-header {
  @extend .container;
  background-color: #D3D1CE;
  border: 2px solid;
  border-color: #777674;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  a {
    color: #0072A3;
  }
}

.hero-unit {
  background-color: #D3D1CE;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #393939;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #686C6F;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  color: #FFFFFF;
  &:hover { 
    background-color: #212121;
  }
}
.navbar .nav > li > a:hover {
  color: #00B6FF !important;
}

/* footer */

.container-footer {
  @extend .container;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: #697489;
  a {
    color: #697489;
    &:hover { 
      color: gainsboro;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  font-size: 15px;
  @include box_sizing;
}

label {
  font-size: 16px;
}

input::-webkit-input-placeholder {
  font-size: 15px;
}

.checkbox{
  vertical-align: 0px;
}

.control-group label{
  font-size: 16px;
  margin: 6px 0 0 0;
}

.checkbox_label {
 display:inline-block;
 *display:inline; /*For IE7*/
 *zoom:1;
}

span.right {
position: relative;
left: 180px;
}

/* errors */

#error_explanation {
  color: #f00;
  ul {
    margin: 4px 0 0 22px;   /*top, right, bottom, left*/
  }
}

.control-group .field_with_errors {
  @extend .control-group;
  @extend .error_field;
  float: left;
}

.field_with_errors input {
  border-color: #FF0000;
}
.field_with_errors input:focus {
  box-shadow: 0 0 8px #FF0000;
}
.field_with_errors label {
  color: #FF0000;
}

.error input {
  border-color: #FF0000;
}

.error input:focus {
  box-shadow: 0 0 8px #FF0000;
}

.error label {
  color: #FF0000;
}

/* alerts */

.alert-error {
  background-color: #AA0000;
  color: #ffffff;
  a {
    color: #00FFFF;
  }
}
.alert-info {
  color: #004E80;
}
.alert-success {
  color: #205544;
}

.alert-error, .alert-info, .alert-success {
  border-color: #000000;
}

/* buttons */

.btn-primary {
    width: 150px !important;
}

/* images */

.error_image {
  background: transparent url(error.png) no-repeat left center;
  background-size:24px 24px;
  padding:3px 0px 3px 34px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  align: center;
  width: 50%;
  margin-top: 45px;
  @include box_sizing;
}
